---
stages:
  - build
  - test

image: quay.io/testing-farm/python-ci-image:2022-03-12

#
# Mark tests to run for merge requests
#
.merge-request:
  rules:
    - if: $CI_MERGE_REQUEST_IID

container:
  extends: .merge-request
  stage: build
  image: quay.io/buildah/stable:latest
  script:
    - dnf -y install make poetry python
    - buildah login -u $QUAY_USERNAME -p $QUAY_PASSWORD quay.io
    - IMAGE_TAG=$CI_PIPELINE_ID make build
    - IMAGE_TAG=$CI_PIPELINE_ID make push

pre-commit:
  extends: .merge-request
  stage: test
  needs: []
  script:
    - make pre-commit

tox:
  extends: .merge-request
  stage: test
  needs: []
  script:
    - make tox

tmt:
  extends: .merge-request
  stage: test
  needs: ["container"]
  image: quay.io/testing-farm/cli:latest
  script:
    - testing-farm request -e IMAGE_TAG=$CI_PIPELINE_ID --git-url https://gitlab.com/testing-farm/cli.git --git-ref $CI_MERGE_REQUEST_REF_PATH
